<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'product_form' %}">Добавить продукт</a></li>
            <li><a href="{% url 'product_list' %}">Продукты</a></li>
        </ul>
    </nav>
    {% block content %}
    <h1>Мой сайт</h1>
    {% endblock %}
</body>
</html>